div{
    border: 2px solid #ccc;
}
#container {
    position: relative;
    width : 960px;
    padding:20px;
    margin:0 auto;
}
#header {
    padding: 20px;
    margin-bottom: 20px;
}
#contents{
    position: absolute;
    width:  620px;
    height: 800px;
    padding: 20px;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
}
#sidebar {
    width: 220px;
    padding: 20px;
    height: 800px;
    float: right;
    margin-bottom: 20px;
}
#footer{
    font-size: 10px;
    clear:both;
    padding:10px;
}
img{
    display: block;
    position: absolute;
    height: 300px;
    width: 300px;
    cursor:pointer; 
    cursor:hand;
    z-index : 0;
}
img:hover{
    border:1px solid red;
}
img:active {
    transform: scale(1.05, 1.05);
    opacity : 0.5;
}
button{
    margin-right: 10px;
}
